<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletTableProg</servlet-name>
        <servlet-class>CtrlServlet.ServletTableProg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAffecter</servlet-name>
        <servlet-class>CtrlServlet.ServletAffecter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletTableProg</servlet-name>
        <url-pattern>/ServletTableProg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletProgressionProg</servlet-name>
        <servlet-class>CtrlServlet.ServletProgressionProg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProgressionProg</servlet-name>
        <url-pattern>/ServletProgressionProg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletClientEnPgrm</servlet-name>
        <servlet-class>CtrlServlet.ServletClientEnPgrm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletClientEnPgrm</servlet-name>
        <url-pattern>/ServletClientEnPgrm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletClientNonPgrm</servlet-name>
        <servlet-class>CtrlServlet.ServletClientNonPgrm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletClientNonPgrm</servlet-name>
        <url-pattern>/ServletClientNonPgrm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletObjectifs</servlet-name>
        <servlet-class>CtrlServlet.ServletObjectifs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletObjectifs</servlet-name>
        <url-pattern>/ServletObjectifs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletProgObjectif</servlet-name>
        <servlet-class>CtrlServlet.ServletProgObjectif</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProgObjectif</servlet-name>
        <url-pattern>/ServletProgObjectif</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletShowInfoCli</servlet-name>
        <servlet-class>CtrlServlet.ServletShowInfoCli</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletShowInfoCli</servlet-name>
        <url-pattern>/ServletShowInfoCli</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletProgrammeSt</servlet-name>
        <servlet-class>CtrlServlet.ServletProgrammeSt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProgrammeSt</servlet-name>
        <url-pattern>/ServletProgrammeSt</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletAffecter</servlet-name>
        <url-pattern>/ServletAffecter</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
