<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletAccueilClient</servlet-name>
        <servlet-class>CtrlServlet.ServletAccueilClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAccueilClient</servlet-name>
        <url-pattern>/ServletAccueilClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAddPer</servlet-name>
        <servlet-class>CtrlServlet.ServletAddPer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAddPer</servlet-name>
        <url-pattern>/ServletAddPer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEndSea</servlet-name>
        <servlet-class>CtrlServlet.ServletEndSea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEndSea</servlet-name>
        <url-pattern>/ServletEndSea</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEndSeaPerformance</servlet-name>
        <servlet-class>CtrlServlet.ServletEndSeaPerformance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEndSeaPerformance</servlet-name>
        <url-pattern>/ServletEndSeaPerformance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EndSeance</servlet-name>
        <jsp-file>/HTML/EndSeancejsp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EndSeance</servlet-name>
        <url-pattern>/EndSeance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FunctionEndSeance</servlet-name>
        <jsp-file>/JS/EndSeance.js</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FunctionEndSeance</servlet-name>
        <url-pattern>/FunctionEndSeance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletExerciseBySea</servlet-name>
        <servlet-class>CtrlServlet.ServletExerciseBySea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExerciseBySea</servlet-name>
        <url-pattern>/ServletExerciseBySea</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletBeginSea</servlet-name>
        <servlet-class>CtrlServlet.ServletBeginSea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBeginSea</servlet-name>
        <url-pattern>/ServletBeginSea</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BeginSeance</servlet-name>
        <jsp-file>/HTML/BeginSeance.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeginSeance</servlet-name>
        <url-pattern>/BeginSeance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletSeanceStandPs</servlet-name>
        <servlet-class>CtrlServlet.ServletSeanceStandPs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSeanceStandPs</servlet-name>
        <url-pattern>/ServletSeanceStandPs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletTableProg</servlet-name>
        <servlet-class>CtrlServlet.ServletTableProg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTableProg</servlet-name>
        <url-pattern>/ServletTableProg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletSearch</servlet-name>
        <servlet-class>CtrlServlet.ServletSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSearch</servlet-name>
        <url-pattern>/ServletSearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAccueilCoach</servlet-name>
        <servlet-class>CtrlServlet.ServletAccueilCoach</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAccueilCoach</servlet-name>
        <url-pattern>/ServletAccueilCoach</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TableauBordCo</servlet-name>
        <jsp-file>/HTML/TableauBordC.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TableauBordCo</servlet-name>
        <url-pattern>/TableauBordCo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccueilJd</servlet-name>
        <jsp-file>/HTML/AccueilJd.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccueilJd</servlet-name>
        <url-pattern>/AccueilJd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletProgressionProg</servlet-name>
        <servlet-class>CtrlServlet.ServletProgressionProg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProgressionProg</servlet-name>
        <url-pattern>/ServletProgressionProg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletClientEnPgrm</servlet-name>
        <servlet-class>CtrlServlet.ServletClientEnPgrm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletClientEnPgrm</servlet-name>
        <url-pattern>/ServletClientEnPgrm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletClientNonPgrm</servlet-name>
        <servlet-class>CtrlServlet.ServletClientNonPgrm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletClientNonPgrm</servlet-name>
        <url-pattern>/ServletClientNonPgrm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletObjectifs</servlet-name>
        <servlet-class>CtrlServlet.ServletObjectifs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletObjectifs</servlet-name>
        <url-pattern>/ServletObjectifs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletProgObjectif</servlet-name>
        <servlet-class>CtrlServlet.ServletProgObjectif</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProgObjectif</servlet-name>
        <url-pattern>/ServletProgObjectif</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletShowInfoCli</servlet-name>
        <servlet-class>CtrlServlet.ServletShowInfoCli</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletShowInfoCli</servlet-name>
        <url-pattern>/ServletShowInfoCli</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletProgrammeSt</servlet-name>
        <servlet-class>CtrlServlet.ServletProgrammeSt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProgrammeSt</servlet-name>
        <url-pattern>/ServletProgrammeSt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAffecter</servlet-name>
        <servlet-class>CtrlServlet.ServletAffecter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAffecter</servlet-name>
        <url-pattern>/ServletAffecter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletShowExe</servlet-name>
        <servlet-class>CtrlServlet.ServletShowExe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletShowExe</servlet-name>
        <url-pattern>/ServletShowExe</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletSeaName</servlet-name>
        <servlet-class>CtrlServlet.ServletSeaName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSeaName</servlet-name>
        <url-pattern>/ServletSeaName</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PageClient</servlet-name>
        <jsp-file>/HTML/PageClient.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageClient</servlet-name>
        <url-pattern>/PageClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEvoluation</servlet-name>
        <servlet-class>CtrlServlet.ServletEvoluation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEvoluation</servlet-name>
        <url-pattern>/ServletEvoluation</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
