html{
    background-color: #333;
}
body{
    padding: 0;
    background-color: white;
    min-width: 1024px;
    margin:20px;
    
}

h1{
    color: #333;
}
/*define the style of the div 'detailCli'*/
#detailCli{
    display:  none;
}
#image{
    background-color: #FFDC00;
    position:relative;
    float:left;
    width: 20%; 
    height: 180px;
    padding:5%;
}

#descp{
    background-color: #FFDC00;
    position:relative;
    float:left;
    width: 20%; 
    height: 180px;
    border-left-style: solid;
    padding:5%;
    
}

#objectif{
    background-color: #FFDC00;
    position:relative;
    margin-left: 60%;
    width: 30%;
    height: 180px;
    border-left-style: solid;
    padding:5%;
    font-size: 200%
    
}

#barOneLine{
    height: 20px;
    padding: 15px;
    text-align: center;
}
#chercherProg{
    height: 20px;
    padding: 15px;
    text-align: center;
}
.selectOption{
    width: 200px;
    margin-left: 10px; 
}

#typeProg{
    margin-right: 80px;
}

progress::-moz-progress-bar { background: yellowgreen; }
progress::-webkit-progress-value { background: yellowgreen; }
progress { color: yellowgreen; }

#percentProg{
     margin-left: 10px;
}

/*===== Vertical Timeline =====*/
#conference-timeline {
  position: relative;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  border-top-style: dashed;
  padding-top: 15px;
}
#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
  display: table;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: gold;
  padding: 15px 23px;
  color: #333;
  max-width: 5%;
  width: 100px;
  text-align: center;
  margin: 0 auto;
}

.timeline-article {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

table{
    position : relative;
    width:100%;
    margin:0; 
    border-collapse: collapse;
    
}

.tableLine{
    height: 75px;
    width: 50%;
    border-right:solid #FFDC00;
}
.content-left{
    vertical-align: top;
    text-align: right;
    width: 50%;
    padding-right: 50px;
    border-right:solid #FFDC00;
    height: 100px;
    font-size: 150%;
}

.content-left-bilan{
    vertical-align: top;
    text-align: right;
    width: 50%;
    padding-right: 50px;
    border-right:solid #FFDC00;
    height: 100px;
    font-size: 150%;
    color:#f44336;
}
.content-right{
    vertical-align: top;
    text-align: left;
    padding-left: 70px;
    
}
.content-exercise{
    vertical-align: top;
    text-align: left;
    padding-left: 70px;
    border:solid #333;
}
.timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  color: #333;
  border-radius: 100%;
  background: gold;
}
.timeline-article .meta-date-pass {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  color: #333;
  border-radius: 100%;
  background: grey;
  cursor: pointer;
}

.clientColor .timeline-article .meta-date  {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  color: #333;
  border-radius: 100%;
  background: grey;
}

.clientColor .timeline-article .meta-date-pass  {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  color: #333;
  border-radius: 100%;
  background: gold;
}

.timeline-article .meta-date  {
  display: block;
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  margin-top: 10px;
}

.timeline-article .meta-date-pass .date {
  display: block;
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  margin-top: 10px;
}

#nameProg{
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  margin-top: 10px;
}

#descripPP{
  text-align: center;
}

/*define the style of the div 'listeCli'*/
.header {
  position: relative;
  top: -20px;
  margin:0;
  padding:0;
  width:100%;
  border-top-style:solid;
  height: 50px;
  background-color: #f1f1f1;
}

.header h2 {
  text-align: center;
  font-size: 100%;
}

.photocli{
    color:#FFDC00;
}
.photocliNoProg{
    color:#FFDC00;
}



.content_liste_client{
    text-align: center;
}
.progress-container {
  width: 100%;
  height: 8px;
  background: grey;
}

.progress-bar {
  height: 8px;
  background: yellow;
  width: 0%;
}
#contentcli{
    overflow:auto;
}
#cliProg{
    position:relative;
    float:left;
    width:46%;
    border-right: solid #333;
    padding:10px 2%;
    
}

#cliNoProg{
    position:relative;
    width:46%;
    margin-left: 50%;
    padding:10px 2%;
}

#imagecl{
    background-color: #FFDC00;
    position:relative;
    float:left;
    width: 13%; 
    min-height: 70px;
    height:100px;
    border-bottom-style: dashed;
    padding:5px 3%;
}

#descpcl{
    background-color: #FFDC00;
    position:relative;
    float:left;
    width: 20%; 
    min-height: 70px;
    height:100px;
    border-bottom-style: dashed;
    padding:5px 3%;
    
}

#objectifcl{
    background-color: #FFDC00;
    position:relative;
    margin-left: 45%;
    width: 50%;
    min-height: 70px;
    height:100px;
    border-bottom-style:dashed;
    padding:5px 3%;
    
}

#idClient{
    opacity: 0;
}

#affecter{
    position:fixed;
    left:20px;
    top:450px;
    z-index: 99;
}
#bt_ctrl_back{
    position:fixed;
    left:20px;
    top:380px;
    z-index: 99;
    
}

.l_btn{
    background-color: #f08080;
    width:150px;
    border: dashed 2px #f08080;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.l_btn:hover{
    background-color: #f6f6fa;
    color: #333;
}





